body {
    font-family: 'Arial', sans-serif;
}

.hero-container {
   width: 100%;
}

.hero-card-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    order: 2;
}

.hero-content h1 {
    color: #2d2e32;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2
}
.hero-content p {
    font-weight: 500;
  color: #555555;
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
}

.profile-img {
    margin-top: 30px;
    width: 100%;
    max-width: 200px;
    border-radius: 200px;
    order: 1;
}


.icon{
    padding: 10px;
}
.icon:hover{
    color: #147efb;
}
.wave {
    width: 30px;
}

.about-button:hover {
    color: #ffffff;
    background-color: #222222;
}



@media screen and (min-width: 768px) {
    .hero-card-container{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
    }
    .hero-content {
        width: 60%;
        order: 1;
        max-width: 400px;
    }

    .profile-img {
        width: 60%;
        max-width: 260px;
        order: 2;
        border-radius: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-content {
        width: 70%;
        max-width: 900px;
    }

    .profile-img {
        max-width: 350px;
        width: 50%;
        border-radius: 250px;
    }
}
