

.home-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100%;

}
.home-card-container{
   
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.home-card-container img{
    width: 50%;
    order: 1;
    margin-top: 20px;
    max-width: 800px;
}
.home-content{
    display: flex;
    flex-direction: column;
   width: 50%;
    max-width: 720px;
    margin-left: 30px;
    order: 2;
  
}

.role{
    color: #FDC435;
 
    font-family: Nunito;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: left;


}
.home-content h1 {
  
font-family: Playfair Display;
font-size: 44px;
font-weight: 700;
line-height: 77px;
letter-spacing: 0em;
color: #333333;

text-align: left;

}

.description{   
font-family: Nunito;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
color: #828282;
text-align: left;

}
.button-container{
    display: flex;
    align-items: center;
   
}
.project-btn{

padding: 8px, 24px, 8px, 24px;
border-radius: 8px;
background: #FDC435;
width: 115px;
height: 43px;
border: none;
font-weight: bold;
outline: none;
margin-right: 10px;


}
.linkdin-btn{
    width:115px;
height: 43px;
padding: 8px, 24px, 8px, 24px;
border-radius: 8px;
border: 2px solid #25282B;
font-weight: bold;
background-color: transparent;
margin-right: 10px;
text-decoration: none;
gap: 32px;
color: #25282B;

}

.vector{
    width: 100%;
}

/* ... Your existing styles ... */


/* Add a media query for smaller screens */
@media only screen and (min-width: 768px) {
    .home-card-container {
        flex-direction: row;
   
        justify-content: space-between;
    }

    .home-content {
        
        order: 1;
    }

    .home-card-container img{
        order: 2;
    }
    .home-content h1 {
        font-size: 60px;
        line-height: 50px;
    }

    .description {
        font-size: 18px;
        line-height: 28px;
    }


    
}


