.contact-container{
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
   
}
.contact-content{
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px 0px;
}
.contact-content h1 {
    font-size: 32px;

}
.contact-content a {
    text-decoration: none;
    color: #222222;
}
.contact-content a:hover{
    color: #147efb;
}
.contact-content p{
    color: #147efb;
    font-size: 22px;
    font-weight: bold;
}
.contact-content span{
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 60%;
}