/* index.css */
.contact-container {
    text-align: center;
    margin: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon{
    width: 100px;
    height: 30px;
  }
  
  .contact-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #333; /* Adjust color as needed */
    text-decoration: none;
  }
  
  .contact-icons a:hover {
    color: #0077b5; /* Adjust hover color as needed */
  }
  
  .copyright-section {
    margin-top: 20px;
  }
  
  /* Add additional styles as needed */
  